{% extends "base.html" %}

{% block content %}

{% include 'partials/city_carousel.html' %}

<div class="row">
    <h2>Evenimente</h2>
    <hr/>


    <div id="events">

    </div>
    <script type="text/javascript">

        function loadEvents() {
            const URL = "/_events/";

            $.ajax({
                type: "GET",
                url: URL,
                success: function(html) {
                    $("#events").html(html);
                },
                error: function(err) {
                    alert("Error loading events");
                }
            })
        }

        $(document).ready(function() {
            loadEvents();
        })
    </script>

</div>
<div class="row">
  <h2>Locatii</h2>
  <hr/>

    {% include 'partials/locations.html' %}
</div>


</div>

{% endblock %}
