{% for event in events %}
      <div class="col-md-6">
          <table>
              <tr>
                  <td>
                      <h4><a href="{{ event.link }}" target="_blank">{{ event.name }}</a></h4>
                      <h4>{{ event.city.name }}, <small>{{ event.date }}</small></h4>
                      <!--<h4><small></small></h4>-->
                      <p><i>{{ event.description }}</i></p>

                  </td>
                  <td width="200px">
                      <img src="{{ event.image }}" class="img-thumbnail img-responsive"/>
                  </td>
              </tr>
          </table>
      </div>
    {% endfor %}